# Environment
.env

# Google credentials
*.json

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Generated data
data/repository_cache.json
data/faiss.index
data/generated_spec.json

# VS Code
.vscode/